*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}
.main{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    overflow-x: hidden;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 130px;
}
nav ul li{
    list-style:none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    padding: 0 10px;
}
nav ul li a:after{
    content:"";
    position: absolute;
    background-color: #f66335;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -100;
}
.content{
    position: absolute;
    margin-top: 10%;
    color: #fff;
    margin-left: 8%;
}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color:transparent;
}
.content h1{
    font-size: 120px;
    line-height: 140px;
    font-weight: 600;
    opacity: 0;
    transition: 0.5s;
}
.content p{
    max-width: 500px;
    line-height: 28px;
    opacity: 0;
}
.links{
    margin-top: 30px;
    opacity: 0;
}
.links a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
    font-weight: 600;
}
.links a:hover{
    color: #f66335;
}
.free-img{
    border: 2px solid #fff;
    padding: 10px 35px;
    border-radius: 30px;
    margin-right: 15px;
}
.free-img:hover{
    border-color: #f66335;
}
.left{
    animation: slideleft 1s linear forwards;
    animation-delay: 1s;
}
@keyframes slideleft{
    0%{
        transform: translate(-100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
p.left{
    animation-delay: 2s;
}
.links.left{
    animation-delay: 3s;
}
@media (min-aspect-ratio: 16/9){
    .video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .video{
        width: auto;
        height: 100%;
    }
}
section {
    background-color: #f5f5f5;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
  }
  .column {
    width: 100%;
    padding: 0.5em 0;
  }
  h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
  }
  .card {
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
    padding: 3.5em 1em;
    border-radius: 0.6em;
    color: #1f003b;
    cursor: pointer;
    transition: 0.3s;
    background-color: #ffffff;
  }
  .card .img-container {
    width: 8em;
    height: 8em;
    background-color: #a993ff;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
  }
  .card img {
    width: 100%;
    border-radius: 50%;
  }
  .card h3 {
    font-weight: 500;
  }
  .card p {
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
  }
  .icons {
    width: 50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .card a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
  }
  .card:hover {
    background: linear-gradient(#6045ea, #8567f7);
    color: #ffffff;
  }
  .card:hover .img-container {
    transform: scale(1.15);
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 1em 7em;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em;
    }
    .card {
      padding: 5em 1em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      padding: 0 1em;
    }
  }
  .input-field, form .button{
    margin: 25px 0;
    position: relative;
    height: 50px;
    width: 100%;
  }


  .input-field
  {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
  }
  .input-field input{
    height: 100%;
    width: 100%;
    border: 1px solid silver;
    padding-left: 15px;
    outline: none;
    font-size: 19px;
    transition: .4s;
  }
  input:focus{
    border: 1px solid #1DA1F2;
  }
  .input-field label, span.show{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .input-field label{
    left: 15px;
    pointer-events: none;
    color: grey;
    font-size: 18px;
    transition: .4s;
  }
  .login-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  
  .login-button:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100;
  }
  .container {
    height: 200px;
    position: relative;
    border: 3px solid green;
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }



